::ng-deep .mat-tab-label {
  height: 27px !important;
  min-height: 5px !important;
  margin: 3px !important;
  width: 143px !important;
  min-width: 5px !important;
}

.center {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.is-active {
  background-color: Gainsboro;
}
