<div class="mat-headline center">
  <div style="margin-right: 20px">Task List</div>
  <div>
    <button mat-mini-fab style="background-color: gray" matTooltip="Add Task">
      <mat-icon>add</mat-icon>
    </button>
    <button
      mat-mini-fab
      style="background-color: gray"
      matTooltip="List settings"
      mat-button
      [matMenuTriggerFor]="settings"
    >
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #settings="matMenu">
      <button mat-menu-item (click)="deleteList()">Delete</button>
    </mat-menu>
  </div>
</div>
<div class="content">
  <div class="column">
    <h2 class="center">Todo</h2>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Computer Programming</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Computer Programming</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="column">
    <div class="row">
      <h2 class="center">Doing</h2>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Computer Programming</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well
            with mountainous terrain, the Shiba Inu was originally bred for
            hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="column">
    <div class="row">
      <h2 class="center">Done</h2>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Computer Programming</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well
            with mountainous terrain, the Shiba Inu was originally bred for
            hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Computer Programming</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz
            breeds of dog from Japan. A small, agile dog that copes very well
            with mountainous terrain, the Shiba Inu was originally bred for
            hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="column">
    <div class="row">
      <h2 class="center">Log</h2>
      <mat-card class="example-card">
        <small style="color: darkgray"> 31 Aug, 2011 15:52:30 </small>
        <small style="color: gray">Task move from doning to done</small>
      </mat-card>
    </div>
  </div>
</div>
