<div class="mat-headline center">
  <div style="margin-right: 20px">Task List</div>
  <div>
    <button
      mat-mini-fab
      style="background-color: gray"
      matTooltip="Add Task"
      (click)="dialogTask()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
<div class="content">
  <div class="column">
    <div class="row">
      <h2 class="center">Todo</h2>
      <ng-container *ngFor="let task of tasks; index as i">
        <mat-card
          class="example-card"
          *ngIf="task.status === 0"
          [style.backgroundColor]="task.bgColor"
        >
          <mat-card-header>
            <mat-card-title>{{ task.name }}</mat-card-title>
          </mat-card-header>
          <mat-card-content *ngIf="task.details">
            <p>{{ task.details }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="dialogEditTask(i)">EDIT</button>
            <button mat-button (click)="dialogRemoveTask(i)">DELETE</button>
          </mat-card-actions>
        </mat-card>
      </ng-container>
    </div>
  </div>
  <div class="column">
    <div class="row">
      <h2 class="center">Doing</h2>
      <ng-container *ngFor="let task of tasks; index as i">
        <mat-card
          class="example-card"
          *ngIf="task.status === 1"
          [style.backgroundColor]="task.bgColor"
        >
          <mat-card-header>
            <mat-card-title>{{ task.name }}</mat-card-title>
          </mat-card-header>
          <mat-card-content *ngIf="task.details">
            <p>{{ task.details }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="dialogEditTask(i)">EDIT</button>
            <button mat-button (click)="dialogRemoveTask(i)">DELETE</button>
          </mat-card-actions>
        </mat-card>
      </ng-container>
    </div>
  </div>
  <div class="column">
    <div class="row">
      <h2 class="center">Done</h2>
      <ng-container *ngFor="let task of tasks; index as i">
        <mat-card
          class="example-card"
          *ngIf="task.status === 2"
          [style.backgroundColor]="task.bgColor"
        >
          <mat-card-header>
            <mat-card-title>{{ task.name }}</mat-card-title>
          </mat-card-header>
          <mat-card-content *ngIf="task.details">
            <p>{{ task.details }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="dialogEditTask(i)">EDIT</button>
            <button mat-button (click)="dialogRemoveTask(i)">DELETE</button>
          </mat-card-actions>
        </mat-card>
      </ng-container>
    </div>
  </div>
  <div class="column">
    <div class="row">
      <h2 class="center">Activites</h2>
      <mat-card class="example-card" *ngFor="let log of logs">
        <small style="color: darkgray">{{ log.time }}</small>
        <br />
        <small style="color: gray">{{ log.log }}</small>
      </mat-card>
    </div>
  </div>
</div>
